.page {
  font-family: "Inter", sans-serif;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #2a2c2f;
  color: #FFFFFF;
  font-style: normal;
}

.pos-center {
  margin: 0 auto;
}

.header {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
}

.header__lang-links {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 18px;
  align-items: end;
  list-style-type: none;
}

.header__lang-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang-link_active {
  text-decoration: underline;
}

.lead {
  padding-top: 56px;
  text-align: center;
}

.lead__title {
  max-width: 720px;
  margin: 0 auto;
  padding: 0;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
}

.lead__subtitle {
  max-width: 640px;
  margin: 32px auto 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
}

.lead__image {
  width: 100%;
  margin-top: 64px;
}

.lead__caption {
  margin: 8px 0 0;
  padding: 0;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: left;
}

.intro {
  padding-top: 92px;
}

.intro__wrapper {
  max-width: 690px;
}

.intro__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
}

.intro__text {
  margin: 40px 0 0;
  padding: 0;
  font-size: 16px;
  line-height: 163%;
}

.intro__list {
  margin: 33px 0 0;
  padding: 0;
  list-style-type: none;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}

.intro__list-num {
  font-weight: 400;
}

.photo-grid {
  padding-top: 92px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 16px;
}

.photo-grid__item {
  max-width: 100%;
}

.places {
  padding-top: 92px;
}

.place {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content 1fr;
  max-width: 100%;
  gap: 48px 40px;
}

.place:not(:first-child) {
  margin-top: 80px;
}

.place__image {
  width: 100%;
}

.place__title {
  padding: 0;
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.place__website {
  display: flex;
  flex-direction: column;
  align-self: end;
  gap: 12px;
}

.place__website-url {
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #AAAAAA;
}

.place__website-link {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: opacity .3s;
}

.place__website-link:hover {
  opacity: .8;
}

.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.place__paragraph {
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 163%;
}

.cover {
  margin-top: 92px;
  position: relative;
}

.cover__text-wrapper {
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}

.cover__title {
  margin: 0 auto;
  padding: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
}

.cover__subtitle {
  margin: 32px auto 0;
  padding: 0;
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
}

.cover__background {
  display: block;
  width: 100%;
  opacity: .8;
  transition: opacity .3s;
}

.cover:hover .cover__background {
  opacity: .3;
}

.footer {
  padding: 92px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__links {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 18px;
}

.footer__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: #FFFFFF;
  transition: opacity .3s;
}

.footer__link:hover {
  opacity: .8;
}

.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
}


@media screen and (min-width: 1280px) {
  .header_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .lead_width_adaptive {
    max-width: calc(100% - 296px);
  }
  .intro_width_adaptive {
    max-width: calc(100% - 296px);
  }
  .photo-grid_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .places_width_adaptive {
    max-width: calc(100% - 296px);
  }
  .cover_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .footer_width_adaptive {
    max-width: calc(100% - 96px);
  }
}
/*

@media screen and (max-width: 1279px) {
  .header_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .lead_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .intro_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .photo-grid_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .places_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .cover_width_adaptive {
    max-width: 100%;
  }
  .footer_width_adaptive {
    max-width: calc(100% - 96px);
  }
  .lead {
    padding-top: 48px;
  }
  .lead__image {
    margin-top: 56px;
  }
  .photo-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 14px;
  }
  .place {
    column-gap: 32px;
  }
}


@media screen and (max-width: 1023px) {
  .header_width_adaptive {
    max-width: calc(100% - 48px);
  }
  .lead_width_adaptive {
    max-width: 100%;
  }
  .intro_width_adaptive {
    max-width: calc(100% - 48px);
  }
  .photo-grid_width_adaptive {
    max-width: calc(100% - 48px);
  }
  .places_width_adaptive {
    max-width: calc(100% - 48px);
  }
  .cover_width_adaptive {
    max-width: 100%;
  }
  .footer_width_adaptive {
    max-width: calc(100% - 48px);
  }
  .lead__caption {
    margin-left: 24px;
  }
  .intro {
    padding-top: 88px;
  }
  .photo-grid {
    padding-top: 88px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 16px;
  }
  .places {
  padding-top: 88px;
  }
  .place {
    column-gap: 28px;
  }
  .place:not(:first-child) {
    margin-top: 73px;
  }
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
  .place__paragraph {
    font-size: 16px;
  }
  .place__paragraphs {
    gap: 25px;
  }
  .cover {
    margin-top: 90px;
  }
  .footer {
    padding-top: 88px;
  }
}


@media screen and (max-width: 767px) {

}


@media screen and (max-width: 424px) {
  .header_width_adaptive {
    max-width: calc(100% - 32px);
  }
  .lead_width_adaptive {
    max-width: 100%;
  }
  .intro_width_adaptive {
    max-width: calc(100% - 32px);
  }
  .photo-grid_width_adaptive {
    max-width: calc(100% - 32px);
  }
  .places_width_adaptive {
    max-width: calc(100% - 32px);
  }
  .cover_width_adaptive {
    max-width: 100%;
  }
  .footer_width_adaptive {
    max-width: calc(100% - 32px);
  }
  .header {
    height: 42px;
    padding-top: 16px;
  }
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }
  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
  }
  .lead__image {
    margin-top: 40px;
  }
  .lead__caption {
    margin-left: 16px;
  }
  .intro {
    padding-top: 64px;
  }
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
  .photo-grid {
    padding-top: 64px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 12px;
  }
  .places {
    padding-top: 64px;
  }
  .place {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    gap: 0;
  }
  .place:not(:first-child) {
    margin-top: 64px;
  }
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
  .place__website {
    align-self: start;
    margin-top: 32px;
  }
  .place__image {
    margin-top: 32px;
    margin-left: -16px;
    width: calc(100% + 32px);
  }
  .place__paragraphs {
    margin-top: 32px;
  }
  .cover {
    margin-top: 66px;
  }
  .cover__text-wrapper {
    max-width: 255px;
  }
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
  .cover__subtitle {
    margin-top: 16px;
    font-size: 14px;
    line-height: 16px;
  }
  .footer {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
  .footer__copyright {
    line-height: 14px;
  }
}
 */
