.place__paragraphs {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media screen and (max-width: 720px) {
  .place__paragraphs {
    padding: 0 24px;
    margin-top: 32px;
  }
}

@media screen and (max-width: 424px) {
  .place__paragraphs {
    padding: 0 16px;
  }
}
