.cover {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding-top: 90px;
}

@media screen and (max-width: 1279px) {
  .cover {
    max-width: 100%;
  }
}

@media screen and (max-width: 720px) {
  .cover {
    padding-top: 75px;
  }
}

@media screen and (max-width: 424px) {
  .cover {
    padding-top: 66px;
  }
}
