.footer {
  max-width: calc(100% - 96px);
  margin: 0 auto;
  padding: 92px 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .footer {
    max-width: calc(100% - 96px);
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: calc(100% - 48px);
    padding-top: 88px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    max-width: calc(100% - 40px);
    padding-top: 75px;
    flex-direction: column;
    align-items: start;
    gap: 48px;
  }
}

@media screen and (max-width: 424px) {
  .footer {
    padding-top: 64px;
  }
}
